.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head{
  height: 50px;
  width: 100%;
  background-color: black
}

.hider{
  /* position: absolute; */
  margin-left: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  float: left;
}

.searchContainer{
  text-align: left;
	color: #cccccc;
  width: 350px;
  /* padding: 0px; */
  position: absolute;
  background-color: black;
  height: 100%;
}

.location-list{
  width: 100%;
}

.searchContainer.hidden{
  display: none;
}

.location {
  background-color:rgba(12, 11, 11, 0.767);
  border-color: black;
  color: white;
  font-size: 21px;
  line-height: 40px;
  text-decoration: underline;
  text-align: left;
  width: 280px;
  margin: 0px;
  padding: 0px;
  outline:none;
}
.location-list li {
  list-style: none;
}

.location.selected {
  color: yellow;
}

.mapContainer{
  position: absolute;
	height: 100%;
	bottom: 0px;
	left: 350px;
  right: 0px;
  top:50px;
}

.mapContainer.full{
  position: absolute;
	height: 100%;
	bottom: 0px;
	left: 0px;
  right: 0px;
  top:50px;
}

.filter{
  padding-left: 20px;
  margin-left: 45px;
  /* margin-top: 10px; */
}

.title{
  margin-left: 45px;
  margin-top: 30px;
}

/*适配移动端*/

/*iPad*/
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {

  .searchContainer{
    width: 200px;
  }

  .mapContainer{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 200px;
    right: 0px;
    top:50px;
  }

  .location {
    background-color:rgba(12, 11, 11, 0.767);
    border-color: black;
    color: pink;
    font-size: 21px;
    line-height: 40px;
    text-decoration: underline;
    text-align: left;
    width: 150px;
    margin: 0px;
    padding: 0px;
    outline:none;
  }
}

/*iPhone*/
@media screen
and (max-width : 414px){

  .searchContainer{
    width: 150px;
  }

  .mapContainer{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 150px;
    right: 0px;
    top:50px;
  }

  .location {
    background-color:rgba(12, 11, 11, 0.767);
    border-color: black;
    color: lightblue;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
    text-align: left;
    width: 100px;
    margin: 0px;
    padding: 0px;
    outline:none;
  }

  .filter{
    margin-left: 25px;
    width: 90px;
  }
  
  .title{
    margin-left: 35px;
    margin-top: 0px;
    font-size: 20px;
  }
}
