.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head{
  height: 50px;
  width: 100%;
  background-color: black
}

.hider{
  margin-left: 0px;
  color: white
}

.hideImage{
  position: fixed;
  width: 50px;
  height: 50px;
  margin-left: 0px;
}

.searchContainer{
  text-align: left;
	color: #cccccc;
  width: 350px;
  /* padding: 0px; */
  position: fixed;
  background-color: black;
  height: 100%;
}

.searchContainer.hidden{
  display: none;
}

.location {
  /* margin-bottom: 1em; */
  outline: none;
  background-color:rgba(12, 11, 11, 0.767);
  /* border-color: #1860A6; */
  color: white;
  font-size: 1em;
  text-align: left;
}
.location-list li {
  list-style: none;
}

.location.selected {
  color: yellow;
}

.mapContainer{
  position: absolute;
	height: 100%;
	bottom: 0px;
	left: 350px;
  right: 0px;
  top:50px;
}

.mapContainer.full{
  position: absolute;
	height: 100%;
	bottom: 0px;
	left: 0px;
  right: 0px;
  top:50px;
}

.filter{
  left: 200px;
}

/*详情页适配移动端*/
/* max-width      iPad: 768  iPhone Plus: 414  iphone6/7/8/X: 375 iphone5/SE: 320*/
@media screen and (max-width: 768px) {

  .searchContainer{
    width: 200px;
  }

  .mapContainer{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 200px;
    right: 0px;
    top:50px;
  }
}
